In [1]:
import pandas as pd

In [2]:
data_path = '/Users/jk1/temp/treatment_effects/prepro_test/gsu_Extraction_20220815_prepro_25112023_213851/preprocessed_features_25112023_213851.csv'
continuous_outcomes_path = '/Users/jk1/temp/treatment_effects/prepro_test/gsu_Extraction_20220815_prepro_25112023_213851/preprocessed_outcomes_continuous_25112023_213851.csv'
binary_outcomes_path = '/Users/jk1/temp/treatment_effects/prepro_test/gsu_Extraction_20220815_prepro_25112023_213851/preprocessed_outcomes_final_25112023_213851.csv'

In [3]:
data = pd.read_csv(data_path)
continuous_outcomes = pd.read_csv(continuous_outcomes_path)
binary_outcomes = pd.read_csv(binary_outcomes_path)

In [4]:
outcome = '3M mRS 0-2'

In [5]:
binary_outcomes['patient_id'] = binary_outcomes['case_admission_id'].apply(lambda x: x.split('_')[0])

In [6]:
binary_outcomes

,Unnamed: 0,case_admission_id,Symptomatic ICH,Symptomatic ICH date,Recurrent stroke,Recurrent stroke date,Orolingual angioedema,Death in hospital,Death at hospital date,Death at hospital time,...,3M ICH date,3M Death,3M Death date,3M Death cause,3M Epileptic seizure,3M Epileptic seizure date,3M delta mRS,3M mRS 0-1,3M mRS 0-2,patient_id
0,3,100503_0884,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,100503
1,5,1005564_4109,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,2.0,0.0,1.0,1005564
2,6,1005798_9217,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,1.0,1.0,1.0,1005798
3,11,1011794_0030,no,NaN,no,NaN,NaN,1.0,20180201.0,01:00,...,NaN,1.0,NaN,NaN,NaN,NaN,6.0,0.0,0.0,1011794
4,13,1012915_7747,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,0.0,1.0,1.0,1012915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,5157,98851_8563,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,1.0,0.0,0.0,98851
2499,5158,98851_9614,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,0.0,1.0,1.0,98851
2500,5161,99150_6305,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,no,NaN,1.0,1.0,1.0,99150
2501,5162,993112_5546,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,993112
2502,5163,993552_6604,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,NaN,1.0,20210626.0,unknown,NaN,NaN,3.0,0.0,0.0,993552

In [7]:
binary_outcomes.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
temp = binary_outcomes[['case_admission_id', 'patient_id', outcome]]
temp.melt(id_vars=['case_admission_id', 'patient_id'], var_name='outcome_label', value_name='outcome')

     case_admission_id patient_id outcome_label  outcome
0          100503_0884     100503    3M mRS 0-2      0.0
1         1005564_4109    1005564    3M mRS 0-2      1.0
2         1005798_9217    1005798    3M mRS 0-2      1.0
3         1011794_0030    1011794    3M mRS 0-2      0.0
4         1012915_7747    1012915    3M mRS 0-2      1.0
...                ...        ...           ...      ...
2498        98851_8563      98851    3M mRS 0-2      0.0
2499        98851_9614      98851    3M mRS 0-2      1.0
2500        99150_6305      99150    3M mRS 0-2      1.0
2501       993112_5546     993112    3M mRS 0-2      1.0
2502       993552_6604     993552    3M mRS 0-2      0.0

[2503 rows x 4 columns]

In [15]:
from data_splits.utils import link_patient_id_to_outcome

temp = binary_outcomes[['case_admission_id', 'patient_id', outcome]]
temp = temp.melt(id_vars=['case_admission_id', 'patient_id'], var_name='outcome_label', value_name='outcome')
link_patient_id_to_outcome(temp, outcome)

     patient_id  outcome
0        100503      0.0
1       1005564      1.0
2       1005798      1.0
3       1011794      0.0
4       1012915      1.0
...         ...      ...
2362   98549331      1.0
2363   98577009      0.0
2364   98642586      1.0
2365      98851      0.0
2366     993552      0.0

[2367 rows x 2 columns]

In [55]:
temp = binary_outcomes[['case_admission_id', outcome]]

In [56]:
from sklearn.model_selection import train_test_split

temp.dropna(inplace=True)
train, test = train_test_split(temp, test_size=0.2, random_state=42, stratify=temp[outcome])

/var/folders/9v/1s329cwj32jc2kkx24p8jp980000gp/T/ipykernel_6704/4198746601.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp.dropna(inplace=True)
/Users/jk1/opt/anaconda3/envs/treatment_effects/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/jk1/opt/anaconda3/envs/treatment_effects/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [57]:
test

     case_admission_id  3M mRS 0-2
1080     97669697_0679         1.0
2116       497529_9222         1.0
9         1032987_8125         0.0
618        155580_8063         1.0
1621       957597_1393         1.0
...                ...         ...
1879       127189_3604         0.0
1766     98561901_2706         1.0
1442       449606_4967         1.0
1589       891101_7173         1.0
723        313914_8757         0.0

[452 rows x 2 columns]

In [16]:
# find unique values where sample_label == antihypertensive strategy for every case_admission_id
pivoted_data = data.pivot(index=['case_admission_id', 'relative_sample_date_hourly_cat'], columns='sample_label', values='value')

In [17]:
pivoted_data.reset_index(inplace=True)

In [26]:
treatment_strategies_per_cid = pd.DataFrame()
treatment_strategies = list(range(0, 8))
for cid in data.case_admission_id.unique():
    treatment_strategies_per_cid_temp = pd.DataFrame()
    treatment_strategies_per_cid_temp['case_admission_id'] = [cid]
    for treatment_strategy in treatment_strategies:
        treatment_strategies_per_cid_temp['treatment_strategy_' + str(treatment_strategy)] = [int(treatment_strategy in pivoted_data[pivoted_data.case_admission_id == cid]['anti_hypertensive_strategy'].unique())]
    treatment_strategies_per_cid = pd.concat([treatment_strategies_per_cid, treatment_strategies_per_cid_temp])

In [27]:
treatment_strategies_per_cid

,case_admission_id,treatment_strategy_0,treatment_strategy_1,treatment_strategy_2,treatment_strategy_3,treatment_strategy_4,treatment_strategy_5,treatment_strategy_6,treatment_strategy_7
0,100023_4784,True,False,False,False,True,False,False,False
0,1002417_9090,False,False,False,False,True,False,False,True
0,100447_0097,False,False,False,False,False,False,False,True
0,100503_0884,False,False,False,False,False,False,False,True
0,1005564_4109,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
0,993552_0623,False,False,False,False,False,False,False,True
0,993552_6604,False,False,False,False,False,False,False,True
0,99400_5321,False,False,False,True,False,True,False,True
0,996783_7797,False,False,False,False,False,False,False,True
0,9996_3256,False,False,False,False,False,False,False,True

In [58]:
train_treatment_strategies = treatment_strategies_per_cid[treatment_strategies_per_cid.case_admission_id.isin(train.case_admission_id)]
test_treatment_strategies = treatment_strategies_per_cid[treatment_strategies_per_cid.case_admission_id.isin(test.case_admission_id)]

In [60]:
for treatment_strategy in treatment_strategies:
    print('Treatment strategy: ' + str(treatment_strategy))
    print(train_treatment_strategies['treatment_strategy_' + str(treatment_strategy)].sum() / len(train_treatment_strategies))
    
    print(test_treatment_strategies['treatment_strategy_' + str(treatment_strategy)].sum() / len(test_treatment_strategies))

Treatment strategy: 0
0.07071269487750557
0.08444444444444445
Treatment strategy: 1
0.11971046770601336
0.10666666666666667
Treatment strategy: 2
0.005567928730512249
0.02
Treatment strategy: 3
0.09465478841870824
0.09777777777777778
Treatment strategy: 4
0.12639198218262807
0.12666666666666668
Treatment strategy: 5
0.11080178173719377
0.12666666666666668
Treatment strategy: 6
0.08797327394209355
0.07555555555555556
Treatment strategy: 7
0.8635857461024499
0.8488888888888889

In [65]:
binary_outcomes

,Unnamed: 0,case_admission_id,Symptomatic ICH,Symptomatic ICH date,Recurrent stroke,Recurrent stroke date,Orolingual angioedema,Death in hospital,Death at hospital date,Death at hospital time,...,3M ICH,3M ICH date,3M Death,3M Death date,3M Death cause,3M Epileptic seizure,3M Epileptic seizure date,3M delta mRS,3M mRS 0-1,3M mRS 0-2
0,3,100503_0884,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,5,1005564_4109,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,2.0,0.0,1.0
2,6,1005798_9217,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,1.0,1.0,1.0
3,11,1011794_0030,no,NaN,no,NaN,NaN,1.0,20180201.0,01:00,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,6.0,0.0,0.0
4,13,1012915_7747,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,5157,98851_8563,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,1.0,0.0,0.0
2499,5158,98851_9614,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,0.0,1.0,1.0
2500,5161,99150_6305,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,no,NaN,1.0,1.0,1.0
2501,5162,993112_5546,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,0.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0
2502,5163,993552_6604,no,NaN,no,NaN,NaN,0.0,NaN,NaN,...,no,NaN,1.0,20210626.0,unknown,NaN,NaN,3.0,0.0,0.0