In [67]:
import pandas as pd
from tempor.data.dataset import TemporalTreatmentEffectsDataset

In [68]:
data_path = '/Users/jk1/temp/treatment_effects/prepro_test/gsu_Extraction_20220815_prepro_25112023_213851/preprocessed_features_25112023_213851.csv'
continuous_outcomes_path = '/Users/jk1/temp/treatment_effects/prepro_test/gsu_Extraction_20220815_prepro_25112023_213851/preprocessed_outcomes_continuous_25112023_213851.csv'

In [97]:
features_df = pd.read_csv(data_path)
outcomes_df = pd.read_csv(continuous_outcomes_path)

## Features data

In [70]:
features_df.head()

,Unnamed: 0,relative_sample_date_hourly_cat,case_admission_id,sample_label,source,value,impute_missing_as
0,0,0,100023_4784,ALAT,EHR,-0.301828,NaN
1,1,1,100023_4784,ALAT,EHR_locf_imputed,-0.301828,NaN
2,2,2,100023_4784,ALAT,EHR_locf_imputed,-0.301828,NaN
3,3,3,100023_4784,ALAT,EHR_locf_imputed,-0.301828,NaN
4,4,4,100023_4784,ALAT,EHR_locf_imputed,-0.301828,NaN

In [71]:
features_df.drop(columns=['impute_missing_as'], inplace=True)

In [90]:
pivoted_features_df = features_df.pivot(index=['case_admission_id', 'relative_sample_date_hourly_cat'], columns='sample_label', values='value')

In [91]:
# get rid of multiindex
pivoted_features_df = pivoted_features_df.rename_axis(None, axis=1).reset_index()

In [93]:
# restrict to relative_sample_date_hourly_cat 0-70
last_timestep = 70
pivoted_features_df = pivoted_features_df[pivoted_features_df.relative_sample_date_hourly_cat < last_timestep + 1]

In [94]:
# seperate out treatment features
treatment_df = pivoted_features_df[['case_admission_id', 'relative_sample_date_hourly_cat', 'anti_hypertensive_strategy']]
pivoted_features_df.drop(columns=['anti_hypertensive_strategy'], inplace=True)

In [95]:
# Set the 2-level index:
treatment_df.set_index(keys=["case_admission_id", "relative_sample_date_hourly_cat"], drop=True, inplace=True)
pivoted_features_df.set_index(keys=["case_admission_id", "relative_sample_date_hourly_cat"], drop=True, inplace=True)

In [96]:
pivoted_features_df

                                                       ALAT      ASAT  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                               -0.301828 -0.642529
                  1                               -0.301828 -0.642529
                  2                               -0.301828 -0.642529
                  3                               -0.301828 -0.642529
                  4                               -0.301828 -0.642529
...                                                     ...       ...
9996_3256         66                               1.205856 -0.801674
                  67                               1.205856 -0.801674
                  68                               1.205856 -0.801674
                  69                               1.205856 -0.801674
                  70                               1.205856 -0.801674

                                                      FIO2  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                               -0.28577
                  1                               -0.28577
                  2                               -0.28577
                  3                               -0.28577
                  4                               -0.28577
...                                                    ...
9996_3256         66                              -0.28577
                  67                              -0.28577
                  68                              -0.28577
                  69                              -0.28577
                  70                              -0.28577

                                                   Glasgow Coma Scale  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                          0.385502
                  1                                          0.385502
                  2                                          0.385502
                  3                                          0.385502
                  4                                          0.385502
...                                                               ...
9996_3256         66                                         0.385502
                  67                                         0.385502
                  68                                         0.385502
                  69                                         0.385502
                  70                                         0.385502

                                                        INR  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                               -0.077362
                  1                               -0.077362
                  2                               -0.077362
                  3                               -0.077362
                  4                               -0.077362
...                                                     ...
9996_3256         66                              -0.751824
                  67                              -0.751824
                  68                              -0.751824
                  69                              -0.751824
                  70                              -0.751824

                                                   LDL cholesterol calcule  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                               1.616579
                  1                                               1.616579
                  2                                               1.616579
                  3                                               1.616579
                  4                                               1.616579
...                                                                    ...
9996_3256         66                                              0.516917
                  67                                              0.516917
                  68                                              0.516917
                  69                                              0.516917
                  70                                              0.516917

                                                        PTT       age  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                               -1.198924 -0.767160
                  1                               -1.198924 -0.767160
                  2                               -1.198924 -0.767160
                  3                               -1.198924 -0.767160
                  4                               -1.198924 -0.767160
...                                                     ...       ...
9996_3256         66                              -0.345719 -0.347627
                  67                              -0.345719 -0.347627
                  68                              -0.345719 -0.347627
                  69                              -0.345719 -0.347627
                  70                              -0.345719 -0.347627

                                                   anticoagulants_yes  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                               0.0
                  1                                               0.0
                  2                                               0.0
                  3                                               0.0
                  4                                               0.0
...                                                               ...
9996_3256         66                                              0.0
                  67                                              0.0
                  68                                              0.0
                  69                                              0.0
                  70                                              0.0

                                                   antihypert._drugs_pre-stroke_yes  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                             0.0
                  1                                                             0.0
                  2                                                             0.0
                  3                                                             0.0
                  4                                                             0.0
...                                                                             ...
9996_3256         66                                                            1.0
                  67                                                            1.0
                  68                                                            1.0
                  69                                                            1.0
                  70                                                            1.0

                                                   ...  \
case_admission_id relative_sample_date_hourly_cat  ...
100023_4784       0                                ...
                  1                                ...
                  2                                ...
                  3                                ...
                  4                                ...
...                                                ...
9996_3256         66                               ...
                  67                               ...
                  68                               ...
                  69                               ...
                  70                               ...

                                                   referral_other_hospital  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                    0.0
                  1                                                    0.0
                  2                                                    0.0
                  3                                                    0.0
                  4                                                    0.0
...                                                                    ...
9996_3256         66                                                   0.0
                  67                                                   0.0
                  68                                                   0.0
                  69                                                   0.0
                  70                                                   0.0

                                                   referral_self_referral_or_gp  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                         0.0
                  1                                                         0.0
                  2                                                         0.0
                  3                                                         0.0
                  4                                                         0.0
...                                                                         ...
9996_3256         66                                                        1.0
                  67                                                        1.0
                  68                                                        1.0
                  69                                                        1.0
                  70                                                        1.0

                                                   sex_male    sodium  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                     1.0  0.190726
                  1                                     1.0  0.190726
                  2                                     1.0  0.190726
                  3                                     1.0  0.190726
                  4                                     1.0  0.190726
...                                                     ...       ...
9996_3256         66                                    1.0 -0.440140
                  67                                    1.0 -0.440140
                  68                                    1.0 -0.440140
                  69                                    1.0 -0.440140
                  70                                    1.0 -0.440140

                                                   temperature  thrombocytes  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                  -2.295099     -0.315647
                  1                                  -0.094932     -0.315647
                  2                                  -0.094932     -0.315647
                  3                                  -0.094932     -0.315647
                  4                                  -0.094932     -0.315647
...                                                        ...           ...
9996_3256         66                                  0.368262     -0.098847
                  67                                  0.368262     -0.098847
                  68                                  0.368262     -0.098847
                  69                                  0.368262     -0.098847
                  70                                 -0.558125     -0.098847

                                                   triglycerides      uree  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                    -0.291580  0.013028
                  1                                    -0.291580  0.013028
                  2                                    -0.291580  0.013028
                  3                                    -0.291580  0.013028
                  4                                    -0.291580  0.013028
...                                                          ...       ...
9996_3256         66                                    1.810562  0.377717
                  67                                    1.810562  0.377717
                  68                                    1.810562  0.377717
                  69                                    1.810562  0.377717
                  70                                    1.810562  0.377717

                                                   wake_up_stroke_true  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                1.0
                  1                                                1.0
                  2                                                1.0
                  3                                                1.0
                  4                                                1.0
...                                                                ...
9996_3256         66                                               0.0
                  67                                               0.0
                  68                                               0.0
                  69                                               0.0
                  70                                               0.0

                                                     weight
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                1.153254
                  1                                1.153254
                  2                                1.153254
                  3                                1.153254
                  4                                1.153254
...                                                     ...
9996_3256         66                              -0.075108
                  67                              -0.075108
                  68                              -0.075108
                  69                              -0.075108
                  70                              -0.075108

[177003 rows x 84 columns]

## Outcome data

In [86]:
outcomes_df

                                                   Unnamed: 0  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                      3816
                  1                                      3817
                  2                                      3818
                  3                                      3819
                  4                                      3820
...                                                       ...
9996_3256         67                                 15254923
                  68                                 15254924
                  69                                 15254925
                  70                                 15254926
                  71                                 15254927

                                                             source  nihss  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                             EHR    2.0
                  1                                             EHR    0.0
                  2                                             EHR    0.0
                  3                                EHR_locf_imputed    0.0
                  4                                             EHR    0.0
...                                                             ...    ...
9996_3256         67                               EHR_locf_imputed    0.0
                  68                               EHR_locf_imputed    0.0
                  69                               EHR_locf_imputed    0.0
                  70                               EHR_locf_imputed    0.0
                  71                               EHR_locf_imputed    0.0

                                                   nihss_delta  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                        0.0
                  1                                       -2.0
                  2                                        0.0
                  3                                        0.0
                  4                                        0.0
...                                                        ...
9996_3256         67                                       0.0
                  68                                       0.0
                  69                                       0.0
                  70                                       0.0
                  71                                       0.0

                                                   nihss_delta_to_best_prior_state  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                            0.0
                  1                                                            0.0
                  2                                                            0.0
                  3                                                            0.0
                  4                                                            0.0
...                                                                            ...
9996_3256         67                                                           0.0
                  68                                                           0.0
                  69                                                           0.0
                  70                                                           0.0
                  71                                                           0.0

                                                   nihss_delta_to_start_state  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                       0.0
                  1                                                      -2.0
                  2                                                      -2.0
                  3                                                      -2.0
                  4                                                      -2.0
...                                                                       ...
9996_3256         67                                                      0.0
                  68                                                      0.0
                  69                                                      0.0
                  70                                                      0.0
                  71                                                      0.0

                                                   nihss_delta_at_next_ts  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                  -2.0
                  1                                                   0.0
                  2                                                   0.0
                  3                                                   0.0
                  4                                                   0.0
...                                                                   ...
9996_3256         67                                                  0.0
                  68                                                  0.0
                  69                                                  0.0
                  70                                                  0.0
                  71                                                  NaN

                                                   nihss_delta_to_best_prior_state_at_next_ts  \
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                                       0.0
                  1                                                                       0.0
                  2                                                                       0.0
                  3                                                                       0.0
                  4                                                                       0.0
...                                                                                       ...
9996_3256         67                                                                      0.0
                  68                                                                      0.0
                  69                                                                      0.0
                  70                                                                      0.0
                  71                                                                      NaN

                                                   nihss_delta_to_start_state_at_next_ts
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                                 -2.0
                  1                                                                 -2.0
                  2                                                                 -2.0
                  3                                                                 -2.0
                  4                                                                 -2.0
...                                                                                  ...
9996_3256         67                                                                 0.0
                  68                                                                 0.0
                  69                                                                 0.0
                  70                                                                 0.0
                  71                                                                 NaN

[179496 rows x 9 columns]

In [98]:
outcomes_df = outcomes_df[outcomes_df.relative_sample_date_hourly_cat < last_timestep + 1]

In [99]:
outcomes_df.set_index(keys=["case_admission_id", "relative_sample_date_hourly_cat"], drop=True, inplace=True)

In [100]:
reformatted_outcomes_df = outcomes_df[['nihss_delta_at_next_ts']]

In [101]:
reformatted_outcomes_df

                                                   nihss_delta_at_next_ts
case_admission_id relative_sample_date_hourly_cat
100023_4784       0                                                  -2.0
                  1                                                   0.0
                  2                                                   0.0
                  3                                                   0.0
                  4                                                   0.0
...                                                                   ...
9996_3256         66                                                  0.0
                  67                                                  0.0
                  68                                                  0.0
                  69                                                  0.0
                  70                                                  0.0

[177003 rows x 1 columns]

## Create temporAi dataset

In [102]:
data = TemporalTreatmentEffectsDataset(
    time_series=pivoted_features_df,
    treatments=treatment_df,
    targets=reformatted_outcomes_df
)

In [103]:
data

TemporalTreatmentEffectsDataset(
    time_series=TimeSeriesSamples([2493, *, 84]),
    predictive=TemporalTreatmentEffectsTaskData(
        targets=TimeSeriesSamples([2493, *, 1]),
        treatments=TimeSeriesSamples([2493, *, 1])
    )
)

In [104]:
data.time_series

TimeSeriesSamples with data:
                          ALAT      ASAT     FIO2  Glasgow Coma Scale  \
sample_idx  time_idx
100023_4784 0        -0.301828 -0.642529 -0.28577            0.385502
            1        -0.301828 -0.642529 -0.28577            0.385502
            2        -0.301828 -0.642529 -0.28577            0.385502
            3        -0.301828 -0.642529 -0.28577            0.385502
            4        -0.301828 -0.642529 -0.28577            0.385502
...                        ...       ...      ...                 ...
9996_3256   66        1.205856 -0.801674 -0.28577            0.385502
            67        1.205856 -0.801674 -0.28577            0.385502
            68        1.205856 -0.801674 -0.28577            0.385502
            69        1.205856 -0.801674 -0.28577            0.385502
            70        1.205856 -0.801674 -0.28577            0.385502

                           INR  LDL cholesterol calcule       PTT       age  \
sample_idx  time_idx
100023_4784 0        -0.077362                 1.616579 -1.198924 -0.767160
            1        -0.077362                 1.616579 -1.198924 -0.767160
            2        -0.077362                 1.616579 -1.198924 -0.767160
            3        -0.077362                 1.616579 -1.198924 -0.767160
            4        -0.077362                 1.616579 -1.198924 -0.767160
...                        ...                      ...       ...       ...
9996_3256   66       -0.751824                 0.516917 -0.345719 -0.347627
            67       -0.751824                 0.516917 -0.345719 -0.347627
            68       -0.751824                 0.516917 -0.345719 -0.347627
            69       -0.751824                 0.516917 -0.345719 -0.347627
            70       -0.751824                 0.516917 -0.345719 -0.347627

                      anticoagulants_yes  antihypert._drugs_pre-stroke_yes  \
sample_idx  time_idx
100023_4784 0                        0.0                               0.0
            1                        0.0                               0.0
            2                        0.0                               0.0
            3                        0.0                               0.0
            4                        0.0                               0.0
...                                  ...                               ...
9996_3256   66                       0.0                               1.0
            67                       0.0                               1.0
            68                       0.0                               1.0
            69                       0.0                               1.0
            70                       0.0                               1.0

                      ...  referral_other_hospital  \
sample_idx  time_idx  ...
100023_4784 0         ...                      0.0
            1         ...                      0.0
            2         ...                      0.0
            3         ...                      0.0
            4         ...                      0.0
...                   ...                      ...
9996_3256   66        ...                      0.0
            67        ...                      0.0
            68        ...                      0.0
            69        ...                      0.0
            70        ...                      0.0

                      referral_self_referral_or_gp  sex_male    sodium  \
sample_idx  time_idx
100023_4784 0                                  0.0       1.0  0.190726
            1                                  0.0       1.0  0.190726
            2                                  0.0       1.0  0.190726
            3                                  0.0       1.0  0.190726
            4                                  0.0       1.0  0.190726
...                                            ...       ...       ...
9996_3256   66                                 1.0       1.0 -0.440140
            67                                 1.0       1.0 -0.440140
            68                                 1.0       1.0 -0.440140
            69                                 1.0       1.0 -0.440140
            70                                 1.0       1.0 -0.440140

                      temperature  thrombocytes  triglycerides      uree  \
sample_idx  time_idx
100023_4784 0           -2.295099     -0.315647      -0.291580  0.013028
            1           -0.094932     -0.315647      -0.291580  0.013028
            2           -0.094932     -0.315647      -0.291580  0.013028
            3           -0.094932     -0.315647      -0.291580  0.013028
            4           -0.094932     -0.315647      -0.291580  0.013028
...                           ...           ...            ...       ...
9996_3256   66           0.368262     -0.098847       1.810562  0.377717
            67           0.368262     -0.098847       1.810562  0.377717
            68           0.368262     -0.098847       1.810562  0.377717
            69           0.368262     -0.098847       1.810562  0.377717
            70          -0.558125     -0.098847       1.810562  0.377717

                      wake_up_stroke_true    weight
sample_idx  time_idx
100023_4784 0                         1.0  1.153254
            1                         1.0  1.153254
            2                         1.0  1.153254
            3                         1.0  1.153254
            4                         1.0  1.153254
...                                   ...       ...
9996_3256   66                        0.0 -0.075108
            67                        0.0 -0.075108
            68                        0.0 -0.075108
            69                        0.0 -0.075108
            70                        0.0 -0.075108

[177003 rows x 84 columns]

In [105]:
data.predictive.treatments

TimeSeriesSamples with data:
                      anti_hypertensive_strategy
sample_idx  time_idx
100023_4784 0                                4.0
            1                                4.0
            2                                4.0
            3                                4.0
            4                                4.0
...                                          ...
9996_3256   66                               7.0
            67                               7.0
            68                               7.0
            69                               7.0
            70                               7.0

[177003 rows x 1 columns]

In [106]:
data.predictive.targets.dataframe().head(100)

                       nihss_delta_at_next_ts
sample_idx   time_idx
100023_4784  0                           -2.0
             1                            0.0
             2                            0.0
             3                            0.0
             4                            0.0
...                                       ...
1002417_9090 24                           0.0
             25                           0.0
             26                           0.0
             27                           0.0
             28                           0.0

[100 rows x 1 columns]